@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Open+Sans:wght@300;400&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background-canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#wrapper {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 6em;

    z-index: 1;
}

header, section {
    margin: 1.4em;
    margin-bottom: 4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

header {
    margin-top: 0;
    padding-top: 1.2em;
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid black;
    padding: 0;

    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: -1.5em;
    margin-right: -1.5em;
}

hr + :not(.header-flex-container) {
    margin-top: 1.5em;
}

#header-float {
    float: right;
}

.project-links {
    margin-top: 0;
}

.project-links a {
    color: black;
}

h1, h2, .header-flex-item {
    margin: 0;

    font-size: 1.4em;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
}

.header-flex-item, #header-float {
    text-decoration: none;
    color: black;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

ul {
    margin-top: -1em;
    margin-bottom: 0;
}

strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
